## Unity3D Project Gitignore
/[Ll]ibrary/
/Logs/
/[Tt]emp/
/[Oo]bj/
/[Bb]uilds/
/Assets/AssetStoreTools*
/Assets/Plugins*
/Assets/ML-Agents/Timers*
/csharp_timers.json
/UserSettings

# Environemnt logfile
*Project.log

# Jetbrains
/.idea/

# C#
*.sln
*.csproj

